# same as gitignoire
node_modules/
dist/
.env*
*.local
.DS_Store
logs
.vercel

# testing files
src/test
vitest.config.ts
src/**/*.test.ts

# others
.github
.git
.husky
.vscode
.dockerignore
.gitignore
README.md
Dockerfile
Dockerfile.*
compose.yml
docker-compose*.yml
commitlint.config.ts