# same as gitignoire
node_modules/
dist/
.env
*.local
.DS_Store
logs
.vercel

# testing (if you want to test before build then, comment it)
jest.config.ts
src/**/test.*.ts
src/**/*.test.ts

# others
.github
.git
.husky
.vscode
.dockerignore
.gitignore
.env.example
README.md