# same as gitignoire
node_modules/
dist/
.env
*.local
.DS_Store
logs
.vercel

# testing (if you want to test before build then or run in development comment this 3 lines)
src/test
jest.config.ts
src/**/*.test.ts

# others
.github
.git
.husky
.vscode
.dockerignore
.gitignore
.env.example
README.md
Dockerfile
Dockerfile.*
compose.yml
docker-compose*.yml